.container{
    position: relative;
    min-height: 100vh;
    margin: 0 8.91% 0 7.61%;
    .title{
        padding-top: 4.33%;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 1em;
    }

    .subtitles{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .subtitle{
        margin-top: 8%;
        width: 100%;
        background-color: #FFF;
        border: none;
        border-bottom: 2px solid #767676;
        padding-bottom: 2%;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 16px;
        &:active{
            margin-top: 8%;
            width: 100%;
            border-color: #074EE8;
            color: #074EE8;
            border: none;
            border-bottom: 3px solid;
        }
        &.checked {
            margin-top: 8%;
            width: 100%;
            border-color: #074EE8;
            color: #074EE8;
            border: none;
            border-bottom: 3px solid;
        }
    }

    
}