// Font families
$default-font: 'Nunito', sans-serif;
$title-font: 'Inter', sans-serif;

//Base Colors
$primary-color: #074EE8;
$background: #E0EAFF;
$accent: #BC31EA;
$surface: #FFFFFF;

//Component colors
$input-border-color: #AAAAAA;
$input-font-color: #767676;