/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 8%;
  max-width: 768px;
}

.container .title {
  padding-top: 56px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.container .subtitles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .subtitle {
  margin-top: 33px;
  width: 100%;
  background-color: #FFFFFF;
  border: none;
  border-bottom: 2px solid #AAAAAA;
  padding-bottom: 2%;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container .subtitle.active {
  margin-top: 8%;
  width: 100%;
  border-color: #074EE8;
  background-color: #FFFFFF;
  color: #074EE8;
  border: none;
  padding-bottom: 2%;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  border-bottom: 3px solid;
}

.container .form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  margin-top: 33px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #767676;
  /*.input:last-child {
            margin-bottom: 11%;
        }*/
}

.container .form .input {
  outline: none;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: solid 2px #AAAAAA;
  border-radius: 2px;
  margin-bottom: 5%;
  padding-left: 11px;
}

.container .form span {
  color: #e63e3e;
  font-size: 12px;
}

.container .form .contact {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 93px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 5%;
}

.container .form .contact [type="email"] {
  width: 63.61%;
}

.container .form .contact [type="tel"] {
  width: 31.23%;
}

.container .form .label {
  font-size: 16px;
}

.container .form .birthday {
  margin-top: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 0 15.3%;
  height: 70px;
  width: 25%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.container .form .birthday * {
  width: 88.7%;
}

.container .form .birthday select {
  color: #767676;
}

.container .form .checkbox {
  margin: 42px 0 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .form .checkbox [type=checkbox] {
  accent-color: #074EE8;
  width: 20px;
  height: 20px;
}

.container .form .checkbox legend {
  margin-left: 8px;
}

.container .form .certificates input {
  margin-bottom: 3.66%;
}

.container .form .certificates #certificatesList li {
  width: 100%;
  height: 40px;
  margin-bottom: 3.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .form .certificates #certificatesList li input {
  height: 40px;
  border: none;
  border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F2F2F2;
  padding-left: 11px;
}

.container .form .certificates #certificatesList li a {
  width: 40px;
  height: 36px;
  background-color: #FFFFFF;
  border: 2px solid #074EE8;
  color: #074EE8;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Nunito';
  border-radius: 4px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
}

.container .form .certificates #certificatesList li #edit {
  background-image: url("../../svg/edit.svg");
}

.container .form .certificates #certificatesList li #remove {
  background-image: url("../../svg/trash.svg");
}

.container .form .certificates .certificateButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 9.27%;
}

.container .form .certificates .certificateButton #more {
  height: 40px;
  width: 109px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Nunito';
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: none;
  background-color: #074EE8;
  color: #FFFFFF;
  text-decoration: none;
}

.container .form .certificates .certificateButton #more svg {
  margin-right: 6px;
}

.container .form .certificates .certificateButton #more svg:last-child {
  margin-left: 6px;
}

.container .form .errorInput {
  border: 2px solid #e63e3e !important;
}

.container .form .invisible {
  display: none;
}

.container #finish {
  width: 91px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Nunito';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.container #finish svg {
  margin-right: 6px;
}

.container #next {
  width: 91px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Nunito';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
}

.container #next svg {
  margin-left: 6px;
}

@media (min-width: 785px) {
  body {
    background-color: #E0EAFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    background-color: #FFFFFF;
    padding: 0 55px 0 47px;
    width: 680px;
    min-height: 100vh;
  }
  .container .form .contact {
    height: 100px;
  }
  .container .form .checkbox {
    margin: 20px 0;
  }
}

.container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .button button {
  background-color: #074EE8;
  height: 40px;
  width: 81px;
  padding: 0px 12px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
}

.container .button button img {
  margin: 0 0 0 20%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.modal .modalContent {
  background-color: white;
  border-radius: 8px;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 70%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modalContent p {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.modal .modalContent .modalButtons {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal .modalContent .modalButtons a {
  text-decoration: none;
  height: 40px;
}

.modal .modalContent .modalButtons button {
  height: 40px;
  width: 105px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Nunito';
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modalContent .modalButtons button svg {
  margin-right: 6px;
}

.modal .modalContent .modalButtons #modalCancel {
  background-color: white;
  border: 2px solid #074EE8;
  color: #074EE8;
  text-decoration: none;
}

.modal .modalContent .modalButtons #modalConfirm {
  background-color: #074EE8;
  border: 2px solid #074EE8;
  color: white;
  text-decoration: none;
}

@media (max-width: 425px) {
  .modal .modalContent {
    margin-top: 60%;
  }
}

@media (min-width: 769px) {
  .modal .modalContent {
    margin-top: 20%;
    width: 40%;
  }
}

.top {
  margin: 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top .title {
  margin-top: 10%;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.top .add {
  margin-top: 10%;
  height: 40px;
  width: 79px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Nunito';
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: none;
  background-color: #074EE8;
  color: white;
  text-decoration: none;
}

.top .add svg {
  margin-right: 6px;
}

.teamList {
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%;
}

.teamList legend {
  font-size: 14;
  font-family: 'Nunito', sans-serif;
  color: #074EE8;
}

.teamList p {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding-left: 11px;
  line-height: 18px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */